.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.panel {
  height: 100vh;
  opacity: 1;
  object-fit: fill;
  background-color: #070707;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: static;
}

.content {
  text-align: center;
  flex: 1;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.heading {
  color: #fff;
  text-align: right;
  margin-right: 0;
  padding-right: 350px;
  font-size: 62px;
}

.text-block {
  color: #fff;
  text-align: right;
  padding-right: 484px;
  font-size: 30px;
}

.heading-2 {
  color: #fff;
  padding-bottom: 0;
  padding-left: 140px;
  padding-right: 140px;
}

.section {
  padding-bottom: 75px;
}

.quick-stack {
  padding-left: 50px;
  padding-right: 45px;
}

#w-node-_00694a21-dedc-1f60-d44b-ec32135bd033-077c198a {
  grid-template-rows: auto;
  grid-template-columns: .5fr .5fr .5fr .5fr;
}

#w-node-_00694a21-dedc-1f60-d44b-ec32135bd034-077c198a, #w-node-_00694a21-dedc-1f60-d44b-ec32135bd035-077c198a, #w-node-_65d83678-d26b-12ac-6e51-5a8a62096a0c-077c198a, #w-node-_274ad7c8-83c2-2bc4-1903-a04b8ef4b2f5-077c198a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
